.card {
  max-width: 413px;
  position: relative;
  flex-direction: column;
  display: flex;
}

.card__title {
  font-weight: 500;
  font-size: 20px;
  width: 100%;
  color: #212121;
  margin: 0;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  max-width: 353px;
  line-height: 120%;
}

.card__image {
  height: 413px;
  width: 100%;
  object-fit: cover;
  display: block;
  border-radius: 8px;
  cursor: pointer;
}

.card__content {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 20px;
  margin: 12px 0 0;
}

.card__delete-button {
  width: 32px;
  height: 32px;
  top: 10px;
  right: 10px;
  position: absolute;
  background-image: url(../image/delete_button.svg);
  background-color: transparent;
  background-size: contain;
  border: none;
}

.card__like-btn {
  background-image: url(../image/like-icon.svg);
  width: 23px;
  height: 20px;
  border: 2px;
  background-color: transparent;
  opacity: 40%;
  color: #212121;
  background-repeat: no-repeat;
}

.card__liked-btn_active {
  background-image: url(../image/Like_button.svg);
  opacity: 1;
}

.card__delete-button:hover {
  background-image: url(../image/hover_delete_button.svg);
}

.card__liked-btn_active:hover {
  opacity: 0.7;
}

.card__like-btn:hover {
  opacity: 100%;
  cursor: pointer;
}

@media screen and (max-width: 627px) {
  .card__image {
    height: 288px;
  }
  .card__title {
    font-size: 16px;
    line-height: 100%;
  }
}
