.profile {
  display: flex;
  padding: 34px 0 20px;
  border-bottom: 1px rgb(33, 33, 33, 0.4) solid;
}

.profile__avatar {
  height: 100%;
  width: 100%;
  border-radius: 8px;
  display: block;
}

.profile_avatar-container {
  box-sizing: border-box;
  height: 190px;
  width: 190px;
  cursor: pointer;
  position: relative;
}

.profile__avatar-btn {
  position: absolute;
  top: 35px;
  left: 0;
  height: 190px;
  width: 190px;
  background-color: rgba(0, 0, 0, 0.5);
  color: #fcf5e5;
  border: none;
  border-radius: 8px;
  font-size: 16px;
  line-height: 1;
  font-weight: 500;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
  gap: 8px;
  opacity: 0;
  transition: opacity 0.3s ease;
  cursor: pointer;
}

.profile__avatar-btn img {
  width: 16px;
  height: 16px;
  color: #fff;
  background-image: url(../images/pencil-light2.svg);
  margin-bottom: 8px;
  align-items: flex-end;
  justify-content: flex-end;
}

.profile__avatar-container:hover .profile__avatar-btn {
  opacity: 1;
}

.profile__avatar-container:hover .profile__avatar-btn {
  visibility: visible;
}

.profile__column {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.profile__name {
  margin: 0 0 12px;
  display: -webkit-box;
  overflow: hidden;
  text-overflow: ellipsis;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  max-width: 420px;
  color: #212121;
  font-size: 32px;
  line-height: 100%;
  font-weight: 500;
}

.profile__description {
  margin: 0;
  text-overflow: ellipsis;
  overflow: hidden;
  display: -webkit-box;
  text-overflow: ellipsis;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  max-width: 420px;
  color: #212121;
  font-weight: 500;
  font-size: 16px;
  line-height: 100%;
  opacity: 70%;
}

.profile__edit-btn {
  margin-top: auto;
  border: none;
  background-color: transparent;
  opacity: 70%;
  color: #212121;
  font-size: 16px;
  line-height: 100%;
  font-weight: 500;
  cursor: pointer;
  display: flex;
  gap: 8px;
}

.profile__add-btn {
  font-family: poppins, Arial, Helvetica, sans-serif;
  margin-left: auto;
  font-size: 16px;
  background-color: rgba(33, 33, 33, 1);
  border: none;
  width: 149px;
  height: 52px;
  margin-top: auto;
  color: rgba(252, 245, 229, 1);
  font-weight: 500;
  line-height: 100%;
  cursor: pointer;
  gap: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 8px;
}

@media screen and (max-width: 627px) {
  .profile {
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding-top: 20px;
  }

  /* TODO - set content of ::after element to "" */
  /* TODO - finish mobile avatar button styles */

  .profile__avatar-container {
    margin-right: 0;
    margin: 0 0 12px 0;
  }

  .profile__avatar-btn {
    width: 23px;
    height: 23px;
    bottom: 4.66px;
    right: 4.66px;
    left: unset;
    padding: 0;
    display: block;
    border-radius: 6px;
    visibility: hidden;
    /* TODO - finish avatar button styles */
  }

  .profile__avatar-container:hover .profile__avatar-btn {
    visibility: visible;
  }

  .profile__avatar-btn::after {
    content: "Edit Avatar";
  }

  .profile__avatar {
    margin-left: 0;
    height: 80px;
    width: 80px;
  }

  .profile__name {
    font-size: 20px;
    margin: 0 0 6px;
    max-width: 288px;
  }

  .profile__description {
    margin-bottom: 32px;
    max-width: 288px;
  }

  .profile__column {
    text-align: center;
    margin-right: 0;
    align-items: center;
  }

  .profile__add-btn {
    margin-left: 0;
    max-width: 288px;
    width: 100%;
  }

  .profile__edit-btn {
    margin-bottom: 20px;
  }
}

.profile__edit-btn:hover {
  opacity: 100%;
}

.profile__add-btn:hover {
  opacity: 80%;
}

.profile__edit-avatar-btn {
  width: 111.34px;
  height: 16px;
  top: 162px;
  left: 39px;
  border-radius: 90px;
  gap: 8px;
}

.profile__edit-profile-avatar {
  width: 730px;
  height: 298px;
  margin-top: 262px;
  margin-left: 355px;
  border-radius: 8px;
  padding-top: 32px;
  padding-right: 50px;
  padding-bottom: 32px;
  padding-left: 50px;
  gap: 32px;
  background-color: #fff;
}

.profile__text-edit-profile-avatar {
  width: 285px;
  height: 32px;
  font-family: poppins;
  weight: 500;
  font-style: italic medium;
  size: 32px;
  line-height: 100%;
  letter-spacing: 0%;
  color: #212121;
}
